﻿@model FricFrac.Models.FricFrac.Event
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/Event/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Event</h2>
            <button type="submit" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Update One</span>
            </button>
            <a href="/Event/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="Event-Id" name="Event-Id" value="@Model.Id" />
            <div>
                <label for="Event-Name">Naam</label>
                <input id="Event-Name" name="Event-Name" type="text" value="@Model.Name" required />
            </div>
            <div>
                <label for="Event-Location">Locatie</label>
                <input id="Event-Location" name="Event-Location" type="text" value="@Model.Location" required />
            </div>
            <div>
                <label for="Event-Starts">Start</label>
                <input id="Event-Starts" name="Event-Starts" type="date" value="@Model.Starts" />
            </div>
            <div>
                <label for="Event-Ends">Einde</label>
                <input id="Event-Ends" name="Event-Ends" type="date" value="@Model.Ends" />
            </div>
            <div>
                <label for="Event-Image">Afbeelding</label>
                <input id="Event-Location" name="Event-Location" type="text" value="@Model.Image" required />
            </div>
            <div>
                <label for="Event-Description">Beschrijving</label>
                <input id="Event-Description" name="Event-Description" type="text" value="@Model.Description" required />
            </div>
            <div>
                <label for="Event-OrganiserName">Organisator naam</label>
                <input id="Event-OrganiserName" name="Event-OrganiserName" type="text" value="@Model.OrganiserName" required />
            </div>
            <div>
                <label for="Event-OrganiserDescription">Organisator beschrijving</label>
                <input id="Event-OrganiserDescription" name="Event-OrganiserDescription" type="text" value="@Model.OrganiserDescription" required />
            </div>

            <div>
                <label for="Event-EventCategoryId">EventCategoryId</label>
                <select id="Event-EventCategoryId" name="Event-EventCategoryId">
                    @foreach (var item in ViewBag.EventCategory)
                    {
                        <option value="@item.Id"
                                selected="@(item.Id == Model.EventCategoryId ? true : false)">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
            <div>
                <label for="Event-EventTopicId">EventTopicId</label>
                <select id="Event-EventTopicId" name="Event-EventTopicId">
                    @foreach (var item in ViewBag.EventTopic)
                    {
                        <option value="@item.Id"
                                selected="@(item.Id == Model.EventTopicId ? true : false)">
                            @item.Name
                        </option>
                    }
                </select>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
