﻿html {
    width: 100%;
}

/* Tower Pattern */
.tower {
    font-family: Verdana, sans-serif;
    width: 100%;
    background-color: rgba(249, 246, 244, 0.9);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.floor {
    width: 90%;
    opacity: 0.9;
    margin: 0 5% 0 5%;
    background-color: rgb(204,204,204); /* zilver */
}

.control-panel {
    display: flex;
    justify-content: flex-start;
    height: 11%;
    background-color: rgb(250,240,230); /* linnen */
    padding: 0 1em 0 0;
}

/* 
    controle paneel icoon tegel
    opmerking: Viewport-percentage lengths: the ‘vw’, ‘vh’, ‘vmin’, ‘vmax’ units
    The viewport-percentage lengths are relative to the 
    size of the initial containing block. 
    When the height or width of the initial containing block is changed, 
    they are scaled accordingly. 
    However, when the value of ‘overflow’ on the root element is ‘auto’, 
    any scroll bars are assumed not to exist.
    Bron: http://www.w3.org/TR/css3-values/#viewport-relative-lengths
*/
a.tile {
    text-decoration: none;
}

.control-panel .tile {
    margin: 2px;
    padding: 4px 4px 0 4px;
    /* indien masker word het absoluut geplaatst hierop*/
    position: relative;
    overflow: hidden;
    background-color: #3b444b; /*arsenic*/
    font-size: 6.5vh;
    color: rgb(249,246,244); /* orange red peach spring wood */
}

    /* standaard hover kan overschreven worden door ander schema */
    .control-panel .tile:hover {
        color: rgb(226,69,16); /* realgar */
        cursor: pointer
    }

.control-panel .banner {
    margin-left: auto;
}

@media (orientation: portrait) {
    .show-room.index {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

        .show-room.index > .tile {
            height: 10em;
            width: 98%;
        }

        .show-room.index .tile:nth-child(3) {
            order: 8;
        }

        .show-room.index .tile:nth-child(4) {
            order: 9;
        }

        .show-room.index .tile:nth-child(7) {
            order: 10;
        }
}

@media (orientation: landscape) {
    .show-room.index {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

        .show-room.index .tile {
            height: 11em;
            flex: 1 0 17em;
        }

            .show-room.index .tile:nth-child(3) {
                flex: 4 4 22em;
            }

            .show-room.index .tile:nth-child(4) {
                flex: 2 2 12em;
            }

            .show-room.index .tile:nth-child(7) {
                flex: 2 2 12em;
            }

            .show-room.index .tile:nth-child(11) {
                flex: 2 2 8em;
            }
}

/* show-room tegel */
.show-room.index {
    width: 100%;
}

    .show-room.index .tile {
        margin: 0.5em 1% 0 1%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* all the last times by mierlagypsy */
        background-color: rgb(195,94,77);
        overflow: hidden;
        text-shadow: 2px 1px #0c0c0c;
    }

        .show-room.index .tile:last-child {
            margin-bottom: 0.5em;
        }
    /* de link tegels hebben een andere achtergrondkleur */
    .show-room.index .tile {
        background-color: rgb(222, 184, 135);
    }

    .show-room.index a.tile:hover {
        color: rgb(249,246,244); /* orange red peach spring wood */
        background-color: rgb(65,74,76); /* outer space */
    }

    .show-room.index .tile [class^="icon-"] {
        font-size: 8vh;
    }

.show-room.entity {
    display: flex;
    width: 100%;
    background-color: rgb(250,235,215) /* antique white mocassin */
}

    .show-room.entity .detail {
        display: flex;
        flex-direction: column;
        padding: 0 0.5em 0 0.5em;
        width: 10em;
        flex: 2 1 20em;
        background-color: rgb(255, 228, 196);
    }

    .show-room.entity .command-panel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 2 1 4em;
        padding: 0 0.5em 0 0.5em;
        background-color: rgb(222, 184, 135);
    }

        .show-room.entity .command-panel .tile {
            margin: 0 2px 0 0;
            padding: 4px 4px 4px 4px;
            background-color: #3b444b; /*arsenic*/
            color: rgb(249,246,244); /* orange red peach spring wood */
            /* voor het geval het een button element is */
            border: 0;
        }

.command-panel .banner {
    margin-right: auto;
}

.show-room.entity .command-panel .tile [class^="icon-"] {
    font-size: 6vh;
}

.show-room.entity .command-panel .tile:hover {
    color: rgb(226,69,16); /* realgar */
    cursor: pointer;
}

.show-room.entity .list {
    flex: 1 1 10em;
    min-height: 40em;
    background-color: rgb(240, 234, 214); /* eggshell */
}

.show-room.entity .detail fieldset {
    flex: 2 1 2em;
    min-height: 40em;
}

.show-room.entity .detail .feedback {
    flex: 2 1 2em;
    background-color: rgb(195,94,77);
    min-height: 2em;
}

/* accessability */
.screen-reader-text {
    /* Reusable, toolbox kind of class
        voor screen readers, op die manier
        kunnen de readers lezen waarvoor
        de knop staat; de tekst is zelf
        niet zichtbaar op het scherm door negatieve
        waarden toe te kennen aan top en left */
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* form */
input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    margin-bottom: 0.2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
}
