﻿@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<nav class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</nav>
<form class="show-room entity" action="/EventCategory/UpdateOne" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2>Event Category</h2>
            <button type="submit" class="tile">
                <span class="icon-disk"></span>
                <span class="screen-reader-text">Update One</span>
            </button>
            <a href="/EventCategory/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <input type="hidden" id="EventCategory-Id" name="EventCategory-Id" value="@Model.Id" />
            <div>
                <label for="EventCategory-Name">Naam</label>
                <input id="EventCategory-Name" name="EventCategory-Name" type="text" value="@Model.Name" required />
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>