﻿@*
    Een view voor About Me
*@
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<h3>In het begin...</h3>
<h4>Jef Inghelbrecht</h4>
<p>Ik ben begonnen als ICT ‘er in een uitgeverij in Brussel.</p>
<article>
    <section>
        <figure>
            <img src="~/images/Mijn eerste microcomputer de kaypro10.jpg" alt="Foto De Kaypro 10 microcomputer" />
            <figcaption>De Kaypro 10 microcomputer</figcaption>
        </figure>
        <div>
            <p>
                Mijn eerste job bestond erin de database van de abonnees te migreren van een mainframe naar pc.
                Het bedrijf dat de database op de mainframe beheerde weigerde de gegevens in pc-formaat over te dragen
                aan het bedrijf waarvoor ik werkte. Het was echter niet moeilijk om die gegevens te krijgen.
                In het bedrijf waar ik werkte stond een seriële printer waarmee etiketten en lijsten werden afgedrukt.
                Het volstond om die output via een modem af te tappen naar een pc. Ik had mijn eerste loonopslag en bonus
                te pakken! De modem die ik gebruikte was een Hayes modem en de pc was eigenlijk nog geen pc maar
                een Kaypro microcomputer.
            </p>
        </div>
    </section>
    <section>
        <figure>
            <img src="~/images/De eerste hayes modem.jpg" alt="Foto De eerste Hayes modem" />
            <figcaption>De eerste Hayes modem</figcaption>
        </figure>
        <div>
            <p>
                De ervaring met de Hayes modem bracht me tot het realiseren van een tweede project.
                In die tijd stuurden de journalisten per taxi hun teksten op floppy’s naar de redactie.
                In de receptie was het een komen en gaan van taxichauffeurs. Ik zorgde ervoor dat de
                journalisten hun kopij via de modem naar de redactie konden sturen. In een derde project
                maakte ik een sjabloon voor het intypen van tekst. De opmaakt werd automatisch omgezet
                naar SGML, de voorloper van HTML.
            </p>
            <p>
                In een ander project zetten we een snel-nieuwsdienst op voor beursberichten.
                Abonnees kregen elke halve dag belangrijk beursnieuws via de fax.
                Al die projecten dateren van 1984-1987.
            </p>
        </div>
    </section>
    <section>
        <figure>
            <img src="~/images/Office in Singapore in Cecilstreet.png"
                 alt="Foto Office in Singapore in Cecilstreet" />
            <figcaption>Office in Singapore in Cecilstreet</figcaption>
        </figure>
        <div>
            <p>
                De kennis van de Hayes technologie opende een wereld van mogelijkheden.
                In 1981 introduceerde DC Hayes Associates de baanbrekende Hayes Stack Smartmodem.
                De 300-baud modem was de eerste modem met een eigen commando set doe terecht een
                industriestandaard is geworden. Door een reeks van ASCII-strings naar
                de modem te verzenden via de RS-232 seriële poort, konden gebruikers de modem
                initialiseren, automatisch bellen, antwoorden, ophangen, en nog veel meer.
                Daarvoor moesten de meeste gebruikers handmatig een telefoonnummer ingeven
                (toen nog draaien), eb als er verbinding was de modem handmatig aansluiten.
            </p>
            <p>Met dit project ben ik in 1987 naar Singapore getrokken en daar gecommercialiseerd.</p>
        </div>
    </section>
</article>