﻿@model FricFrac.Models.FricFrac.User
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="control-panel">
    <a href="/Home/Index" class="tile _14x1">
        <span class="icon-menu2"></span>
        <span class="screen-reader-text">Home</span>
    </a>
    <h1>Fric-frac</h1>
</div>
<form class="show-room entity" action="/User/Index" method="post">
    <div class="detail">
        <div class="command-panel">
            <h2 class="banner">Gebruiker</h2>
            <a href="/User/UpdatingOne/@Model.Id" class="tile">
                <span class="icon-pencil"></span>
                <span class="screen-reader-text">Updating One</span>
            </a>
            <a href="/User/InsertingOne" class="tile">
                <span class="icon-plus"></span>
                <span class="screen-reader-text">Inserting One</span>
            </a>
            <a href="/User/DeleteOne/@Model.Id" class="tile">
                <span class="icon-remove"></span>
                <span class="screen-reader-text">Delete One</span>
            </a>
            <a href="/User/Cancel" class="tile">
                <span class="icon-close"></span>
                <span class="screen-reader-text">Annuleren</span>
            </a>
        </div>
        <fieldset>
            <div>
                <label for="User-Name">Naam</label>
                <span>@Model.Name</span>
            </div>
            <div>
                <label for="User-Salt">Zout</label>
                <span>@Model.Salt</span>
            </div>
            <div>
                <label for="User-HashedPassword">Hash</label>
                <span>@Model.HashedPassword</span>
            </div>
            <div>
                <label for="User-PersonId">Persoon Id</label>
                <span>@Model.Person.FirstName @Model.Person.LastName</span>
            </div>
            <div>
                <label for="User-RoleId">Rol Id</label>
                <span>@Model.Role.Name</span>
            </div>
        </fieldset>
        <div class="feedback"></div>
    </div>
    <aside class="list">
        <table></table>
    </aside>
</form>
